---
layout: default
---

<div class="post">
    <div class="half-hero" style="background-image:url({{ page.postHero }})"></div>

    <article class="page">
        <header class="post-header">
            <h1>{{ page.title }}</h2>
                <div class="post-byline">
                    <img src="{{ page.gravatar }}">
                    <a href="{{ page.authorTwitter }}" class="social-link">Tw</a>
                    by: {{ page.author }}
                    <span> - {{ page.date | date: '%B %d, %Y' }}</span>
                </div>
        </header>
        <aside class="post-aside">
            <h4>Recent Posts</h4>
            <ul class="blog-title-list">
                {% for post in site.posts limit:5 %}
                <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                    <span>Posted: {{ post.date | date: '%B %d, %Y' }}</span>
                </li>
                {% endfor %}
            </ul>
        </aside>
        <div class="post-content">
            {{ content }}
        </div>
        <footer class="post-footer">
            {{ page.postFooter }}
        </footer>
    </article>
</div>
