---
layout: default
title: Dangerous Blog
description: A dangerous site deserves a dangerous blog.
---

<div class="page blog-index">
    <h1>Bloggie Blog</h1>
    <div class="col-two blog-cols">
        <div class="col col-aside blog-recent">
            <h4>Recent Posts</h4>
            <ul class="blog-title-list">
                {% for post in site.posts limit:5 %}
                <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                    <span>Posted: {{ post.date | date: '%B %d, %Y' }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col col-content blog-previews">
            {% for post in site.posts %}
            <div class="blog-posts">
                <header class="post-header">
                    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    <div class="post-byline">
                        <img src="{{ post.gravatar }}" />
                        <a href="{{ post.authorTwitter }}" class="social-link">Tw</a>
                        by: {{ post.author }}
                        <span> - {{ post.date | date: '%B %d, %Y' }}</span>
                    </div>
                </header>
                <div class="posts-image"
                     style="background-image:url({{ post.postHero }})"></div>
                {{ post.excerpt }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
